.card {
	position:absolute;
	width:4.9%;
	padding-bottom:7%;
	background-color:green;
	background-image:url('wcardtest.jpg');
	background-size:cover;
	z-index:3;
	transition: transform 0.2s;
	border-radius:5%;
}
.opponent .card{
	transform:translateZ(0) scaleX(-1);
}
.tr.facedn {
	background-image:url('wcardback.jpg');
}
.us.facedn {
	background-image:url('wcardback.jpg');
}